body {
  background-color: black;
  color: antiquewhite;
  font-family: "Caveat Brush", "cursive";
}
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
}
.caveat {
  font-family: "Caveat Brush", "cursive";
}

img {
  width: 100%;
}

.container-1440 {
  max-width: 1440px;
  margin-inline: auto;
}

@media (max-width: 1600px) {
  .container-1440 {
    max-width: 1366px;
    margin-inline: auto;
    padding-inline: 15px;
  }
}
@media (max-width: 1440px) {
  .container-1440 {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 15px;
    padding-inline: 15px;
  }
}

@media (max-width: 1280px) {
  .container-1440 {
    max-width: 768px;
    margin-inline: auto;
    padding-inline: 15px;
  }
}
@media (max-width: 900px) {
  .container-1440 {
    max-width: 580px;
    margin-inline: auto;
    padding-inline: 15px;
  }
}
@media (max-width: 720px) {
  .container-1440 {
    max-width: 420px;
    margin-inline: auto;
    padding-inline: 15px;
  }
}
@media (max-width: 480px) {
  .container-1440 {
    max-width: 320px;
    margin-inline: auto;
    padding-inline: 15px;
  }
}

.icon {
  font-size: 30px;
}

.slick-slider {
  width: 500px;
  margin-inline: auto;
  margin-top: 50px;
}
